@{
    ViewData["Title"] = "Informações";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/info.css">
</head>

<body>
    <section class="min-vh-100 d-flex align-items-center text-center info">
        <div class="container">
            <div class="row">
                <div class="col-12 section-padding text-white">
                    <h1 style="color: #f2a900">@ViewData["Title"]</h1>

                    <p>
                        A calculadora usa os dados históricos do BTC/USD e USD/BRL do site
                        <a href="https://www.investing.com" target="_blank" rel="noopener noreferrer">investing.com</a>
                        ao realizar a conversão para real.
                    </p>
                    <p>
                        O Bitcoin teve sua criação em 2008, mas sua primeira troca por moeda fiduciária
                        ocorreu apenas em 2009. Em 2010 se iniciava o mercado de trocas da criptomoeda,
                        sendo marcada pela compra de duas pizzas no valor de 10.000 bitcoins.
                    </p>
                    <p>
                        As datas podem ser escolhidas a partir de 18/07/2010, ano onde o Bitcoin chegou a custar
                        menos de 50 centavos!
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>